@page
@model CanvasLMS.Pages.CourseReviews.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CourseReview</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseReview.CourseEnrollment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseReview.CourseEnrollment.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseReview.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseReview.Student.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseReview.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseReview.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseReview.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseReview.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseReview.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseReview.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CourseReview.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
