@page
@model CanvasLMS.Pages.Invoices.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.CourseEnrollment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.CourseEnrollment.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.PaymentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.PaymentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Invoice.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
