@page
@model CanvasLMS.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Name)
                @if (Model.SortOrder == "name_asc")
                {
                    <a asp-page="./Index" asp-route-sortOrder="name_desc">▲</a>
                }
                else
                {
                    <a asp-page="./Index" asp-route-sortOrder="name_asc">▼</a>
                }
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Email)
                @if (Model.SortOrder == "email_asc")
                {
                    <a asp-page="./Index" asp-route-sortOrder="email_desc">▲</a>
                }
                else
                {
                    <a asp-page="./Index" asp-route-sortOrder="email_asc">▼</a>
                }
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Role)
                @if (Model.SortOrder == "role_asc")
                {
                    <a asp-page="./Index" asp-route-sortOrder="role_desc">▲</a>
                }
                else
                {
                    <a asp-page="./Index" asp-route-sortOrder="role_asc">▼</a>
                }
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
