@page
@model CanvasLMS.Pages.SemesterStudents.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SemesterStudent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SemesterStudent.Semester)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SemesterStudent.Semester.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SemesterStudent.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SemesterStudent.Student.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SemesterStudent.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
